@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.header {
    height: fit-content;
    border-bottom: 0.2px solid #0000001a;
    padding: 33px 72px 33px 72px;
    gap: 10px; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.link, .links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.line {
    border: 1px solid #11111180;
    height: 32px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 32px;
}

.getStarted {
    background: #864AF9;
    color: white;
    padding: 12px 24px 12px 24px;
    border: solid 1px #864AF9;
    border-radius: 8px;
}

.typography {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    text-align: center;
    width: 100%;
}

.h1hero {
    font-size: 48px;
    font-weight: 700;
    line-height: 69.6px;
    letter-spacing: -3%;
}

.phero {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -3%;
    text-align: center;
}

.highlight {
    color: #864AF9;
}

.heroButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

#heroButton {
    display: flex;
    align-items: center;
    margin-top: 32px;
    gap: 10px;
}

.PlaceholderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.Placeholder {
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: Fixed (552px)px;
    padding: 230px 317px 230px 317px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;
}

.heroButton {
    position: relative;
    width: fit-content;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.arrow {
    position: absolute;
    left: -120px;
}

.lines {
    position: absolute;
    left: 35%;
    z-index: -1;
    opacity: 50%;
}

.hero {
    position: relative;
}

.ellipse2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(80px);
}

.ellipse1 {
    position: absolute;
    top: 80%;
    left: 82%;
    z-index: -99;
    filter: blur(80px);
}

.portfoliotext {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; 
    width: 70%; 
    height: 90vh;
    padding: 20px;
}

.grid-item {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background: #D9D9D9; 
    text-align: center; 
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; 
}

.img-size {
    width: 60px;
    height: auto;;
}

.hiwText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 32px;
}

.hiwGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 60px;
    row-gap: 60px; 
    width: 70%; 
    height: 300vh;
    padding: 20px;
}

.hiw-grid-item {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    background: #D9D9D9; 
    text-align: left; 
}

.hiwGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.hiw-text-heading {
    font-size: 25px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -3%;
    text-align: left;
}

.white {
    background: #FFFFFF;
}

.width {
    margin-right: 150px;
}

.width-2 {
    margin-right: 60px;
}

.width-3 {
    margin-right: 60px;
}

.howitworks {
    position: relative;
}

.hiwbackgroundtl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(100px);
}

.hiwbackgroundmr {
    position: absolute;
    top: 125vh;
    left: 80vw;
    z-index: 1;
    filter: blur(100px);
}

.hiwbackgroundml {
    position: absolute;
    top: 175vh;
    left: 0vw;
    z-index: 1;
    filter: blur(100px);
}

.hiwbackgroundbr {
    position: absolute;
    top: 300vh;
    left: 80vw;
    z-index: 1;
    filter: blur(100px);
}

body {
    overflow-x: hidden;
}